<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dendê - Um mundo mágico</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Os mais poderosos</span>
      <span class="site-heading-lower">Dendê</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index">Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="historia">História
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sobre">Sobre nós</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="personagens">Personagens</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="livros">Livros</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">O Bardo</span>
                <span class="section-heading-lower">Hupert Silvana</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/img/bard.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Um bardo muito talentoso, animado e muito engraçado.
                              Por fazer uma canção satirizando seu nome, está sendo procurado por um Nobre.
                              Quer fazer com que todos conheçam Tanis, seu herói, para mostrar como este foi um grande homem
                              e que, seguindo seus ensinamentos, quer se tornar como ele.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">O Monge Clérigo</span>
                <span class="section-heading-lower">Obbea Lightfeet</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/img/monge.png" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Um jovem halfling de classe média muito respeitoso fiel e devoto a Pelor, 
                deus do sol e da vida. Luta para que a vontade dos deuses seja realizada a risca. 
                Impiedoso contra as forças do mal porém terno e benevolente com os fracos explorados e desafortunados. 
                Foi declarado como herege no templo de sua cidade natal.
                Devido a influência maligna de um deus diabólico e ganancioso, que tera corrompido os monges do templo 
                para usar a imagem imaculada de Pelor como disfarce e adquirir as riquezas e valores de pessoas que mal 
                se sustentam em sua cidade. Tem fortalecido seu corpo e mente durante 10 anos simplesmente com o intuito 
                de aprimoras seus sentidos para pulverizar o mal do mundo sem piedade. Muitos o chamam de Besta Justa, 
                pois sua fúria insana é incontrolável contra os ímpios muitas vezes é cruel.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">O Mercenário</span>
                <span class="section-heading-lower">Sandor Whitefang</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/img/sandor.png" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Filho de fazendeiros, cresceu aprendendo a negociar com comerciantes. 
                Trabalhou as vezes como mercenário e outrora como andarilho. Atualmente é um soldado da 
                guarda real.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex ml-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-upper">O Ladino</span>
                  <span class="section-heading-lower">Wolfgang </span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/sandor.png" alt="">
            <div class="product-item-description d-flex mr-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">Filho de fazendeiros, cresceu aprendendo a negociar com comerciantes. 
                  Trabalhou as vezes como mercenário e outrora como andarilho. Atualmente é um soldado da 
                  guarda real.</p>
              </div>
            </div>
          </div>
        </div>
      </section> -->

    <footer class="footer text-faded text-center py-5">
      <div class="container">
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  </body>

</html>
